html {
	background-color: black;
}

.title {
	font-style: bold;
	font-family: monospace;
	text-align: center;

}

.item-title {
	list-style-type: none;
	font-family: monospace;
	text-align: left;
	font-size: 30px;
	color: rgb(121, 119, 119);
}

.item-content {
	list-style-type: "$ ";
	font-family: monospace;
	text-align: left;
	font-size: 20px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	max-width: 25%;
	margin-left: 55px;
	color: white;

}
